# Survival Analysis for Individual Patient Data of Acid Sphingomyelinase Deficiency (ASMD)

## Background

Sanofi engaged ISMS to develop a patient pool model for Acid Sphingomyelinase Deficiency (ASMD). This disease exhibits significant variability in key parameters, including clinical severity, age of onset, and survival. The variability extends across subtypes (A, A/B, and B), with subtype B further differing by pediatric versus adult onset.

Using mean values to model these parameters would overlook this heterogeneity, leading to loss of detail in patient pool classifications (onset, diagnosis, survival) across age groups. To address this, a probabilistic approach was implemented to better capture variability within and between subgroups.

## Input Data

The age-at-diagnosis dataset was extracted from the [article](https://www.sciencedirect.com/science/article/pii/S1096719216300580).

In [1]:
# Load age at diagnosis dataset in Excel
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
diagnosis_age_df = pd.read_excel('age-at-diagnosis-asmd.xlsx')

In [3]:
diagnosis_age_df.head()

   Time since birth (year)  Diagnosis  AB  CH
0                     0.10          1   1   0
1                     0.28          1   1   0
2                     0.36          1   1   0
3                     0.45          1   1   0
4                     0.45          1   1   0